.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.label-link{
    width: fit-content;
}

.issue-header{
    display: flex;
    background-color: #f6f8fa;
    border: 1px solid #d1d5da;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: -1px -1px 0;
    padding: 16px;
}
.open-close{
    width: 8%;
}
a{
    text-decoration: none;
    color: black;
}
.issue{
    display: flex;
    flex-direction: column;
    border: 1px solid #d1d5da;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
    padding: 16px;
   
}
.issue-links{
    padding: inherit;
    display: block;
    font-weight: 500;
}
.issue-info{
    color: lightslategrey;
    font-size: 0.7em;
}
.open{
    width: 8%;
}
a:active{
    font-weight: bold;
    color: green;
}

a.selected{
    font-weight: bold;
}
.dropdown-list{
    margin-left: 20px;
}

.search-bar{
    border-radius: 4px;
}
